<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.company.project">
    </context:component-scan>

    <bean id="socketConfig" class="com.company.project.server.config.SocketConfig">
    </bean>
    <bean id="configuration" class="com.company.project.server.config.Configuration">
        <property name="hostName" value="172.16.20.75"/>
        <property name="port" value="9090"/>
        <property name="socketConfig" ref="socketConfig"/>
    </bean>
    <bean id="socketServer" class="com.company.project.server.SocketServer">
        <constructor-arg ref="configuration"/>
    </bean>

    <bean id="springSupport" class="com.company.project.server.SpringSupport">
        <constructor-arg ref="socketServer"/>
    </bean>

    <bean id="bLogicFactory" class="com.company.project.support.BLogicFactory"/>
</beans>
